{
	"env": {
		"es6": true,
		"node": true,
		"jasmine": true
	},
	"globals": {
		"Enum": false
	},
	"extends": "eslint:recommended",
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module"
	},
	"plugins": [
		"json",
		"promise"
	],
	"rules": {
		"max-len": [
			"error",
			{
				"code": 500
			}
		],
		"line-comment-position": [
			"error",
			"above"
		],
		"indent": [
			"error",
			"tab"
		],
		"no-trailing-spaces": [
			"error"
		],
		"space-before-blocks": "error",
		"keyword-spacing": "error",
		"arrow-spacing": "error",
		"comma-spacing": "error",
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"always"
		],
		"arrow-parens": [
			"error",
			"always"
		],
		"promise/no-return-wrap": "error",
		"promise/param-names": "error",
		"promise/catch-or-return": "off",
		"promise/no-promise-in-callback": "error",
		"promise/no-callback-in-promise": "error",
		"promise/no-new-statics": "error",
		"promise/no-return-in-finally": "error",
		"no-console": "off"
	}
}
